div {
    padding: 10px;
    margin: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: gold;
}

.outline {
    outline-width: 10px;
    outline-color: green;
    outline-style: double;
}